 ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure  {
	position: relative;
	margin: 0;
	line-height: 0;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;	
	background: rgba(19,43,102, .85);
  position: absolute;
  bottom: 0;
	/*width: 100%;*/
}

figcaption h4 {
	margin: 0;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name a,
.main-header {
	text-align: center;
}

.main-header li {
	margin: 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.banner {
	text-align: center;
	color: #fff;
	background: #3acec2;
	padding: 20px;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.col {
	margin: 1em 1.5em 0;
}

.main-footer {
	text-align: center;
}

/* ---- Page Elements ---- */

.logo {
	width: 50%;
	max-width: 190px;
}


.icon-location {
	width: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
}

.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #3acec2;
	border-radius: .35em;
}

.col_bg {
	padding: 1em;
	background: #edf4f7;
	border-radius: .35em;
	margin: 0 .5em .8em;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {

	.container {
		width: 80%;
		margin: 0 auto;
	}
	
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-header,
	.row {
		width: 80%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
	
	.main-header {
		/*flex-direction: column;*/
	}
	
	.main-header,
	.main-nav,
	.row,
	.col_bg {
		display: flex;
		flex-wrap: wrap;
	}
	
	.row {
		justify-content: space-around;
	}

	.col {
		flex: 1 300px;
	}

	.col_bg {
		flex-direction: column;
	}

	.button {
		margin-top: auto;
		align-self: flex-start;
	}
}

@media (min-width: 1025px) {

	.col {
		flex-basis: 0;
	}
	
}